/* Heading */
nav{
    margin-top: 30px;
    margin-left: 0px;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px; 
}

nav a{
    text-decoration: none;
    color: black;
    padding: 3%;
    font-weight: 600;
}

h2{
    color: brown;
    text-decoration: underline;

}
aside h1{
    text-align: center;
    border: 2px solid grey;
    padding: 4%;
    
}

/* Body */

body{
    font-family: Montserrat;
    font-weight: 300;
}
.about-me {
    height: 240px;
    float: left;

}

#skills{
    margin-top: 10px;
    line-height: 2;
    margin-left: 30px;
}


#projects{
    line-height: 2;
    margin-left: 30px;
}

#achievements{
    line-height: 2;
    margin-left: 30px;
}


#academics {
    margin-left: 30px;
    padding-bottom: 30px;;
}


table{
    text-align: center;
    margin: 0 auto 0 auto ;
}
th, td{
    padding: 20px;
}

input[type=text], select, textarea {
    width: 99%; 
  
  }
/* Footer */
footer{
    text-align: center;
    padding-top: 60px;
    
}
.top{
  text-decoration: none;
  font-weight: 700;
  color: brown;
  font-size: 22px;

}





